.author {
    height: 9em;
    color:black;
    border-radius: 0.75rem;
    border: 1px solid black;
    margin-bottom: 0.5rem;
}
.bio {
    width: calc(100% - 2rem);
    margin: auto;
    display: flex;
    text-align: center;
    color: black;
    background: #4255a5;
    padding: 1rem;
    color: white;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
}
.bio > p {
    max-width: 700px;
}

.team_wrapper {
    display: flex;
    background: whitesmoke;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.team_wrapper b , .team_wrapper  h2{
    color: black;
}